@color-text: #999;
@color-contrast-text: #fafafa;
@color-theme-primary: #3CA55C;
@color-theme-secondary: #8c8;
@color-theme-tertiary: #040;
@page-width: 900px;

:global {

	@import "_partials/fonts";
	@import "_partials/buttons";

	* {
		box-sizing: border-box;
	}

	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		color: @color-text;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 300;
		font-size: 20px;
	}

	a {
		color: @color-theme-primary;
		text-decoration: none;
		outline: 0;

		&:hover {
			color: @color-theme-secondary;
		}
		&:active {
			color: @color-theme-tertiary;
		}
		&:focus {
			border-bottom: 2px solid #333;
		}
	}

	section,
	footer {
		overflow: hidden;
	}

	h1 {
		position: relative;
		padding-bottom: .4em;
		color: #444;
		font-family: "corbertregular";
		font-size: 2em;
		text-align: center;
	}

	section h1:after {
		content: "";
		background: @color-theme-primary;
		position: absolute;
		bottom: 0;
		left: 40%;
		height: 3px;
		width: 20%;
		border-radius: 3px;
	}

	p, ol {
		line-height: 1.6em;
	}

	ol {
		color: @color-theme-primary;

		li {
			margin-bottom: .5em;
		}
		span {
			color: @color-text;
		}
	}

	.contrast {
		color: @color-contrast-text;

		h1 {
			color: #fff;
		}
		h1:after {
			background: rgba(255,255,255,.5);
		}

		.btn {
			background: transparent;
			border: 2px solid #fafafa;
			color: @color-contrast-text;
			font-size: 1em;

			&:hover {
				background: rgba(255,255,255,.1);
			}
			&:active {
				background: rgba(255,255,255,.4);
			}
		}
	}

	.content {
		overflow: hidden;
		margin: 0 auto;
		padding: 2em;
		width: 900px;
		max-width: 100%;
	}

	.pull-right {
		float: right;
		margin-left: 1em;

		@media (max-width: @page-width) {
			float: none;
			margin: 0;
			text-align: center;
		}
	}

	@import "_partials/splash";
	@import "_partials/install";
	@import "_partials/platform";
	@import "_partials/features";
	@import "_partials/footer";

}