@import "../../styles/variables";

.keypad {
	@height: 60vh;
	@padding: 2vh;
	@rows: 4;
	@button-spacing-vertical: 1vh;
	@button-spacing-horizontal: 3vh;
	@button-height: (@height - @padding * 2 - @button-spacing-vertical) / @rows;
	@button-width: @button-height;
	@button-font-size: 5vh;
	@width: @button-width * 3 + @padding * 2 + @button-spacing-horizontal;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	align-content: space-around;
	align-content: stretch;
	align-items: stretch;
	align-self: center;
	user-select: none;

	padding: @padding;
	width: 100%;
	height: @height;

	.row {
		display: flex;
		flex: 1;
		align-items: center;
		align-content: center;
		justify-content: space-evenly;

		&:first-child {
			border: none;
		}

		.key {
			width: @button-width;
			height: @button-height;
			border-radius: 100%;
			font-size: @button-font-size;
			touch-action: none;
		}
	}

	@media screen and (orientation:landscape) {
		flex: 0 0 35vw;
		height: 100%;

		.row {
			button {
				@header-height-vh: 10vh;
				@height-landscape: 100vh - @header-height-vh;
				@button-width-landscape: @height-landscape / @rows - @button-spacing-vertical * @rows;
				width: @button-width-landscape;
				height: @button-width-landscape;
			}
		}
	}
}
