@import "../../styles/variables";
@import "../../styles/buttons";

.permission {
	width: 70vw;
	max-width: 300px;
}

.btn-allow {
	.btn();

	margin: 15px 10px;
	font-size: 16px;
}

.btn-deny {
	.btn-secondary();

	margin: 15px 10px;
	font-size: 16px;
}
