@import "../../../styles/variables";
@import "../../../styles/mixins";

.popup-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	background: fade(darken(@color-primary, 15%), 95%);

	@supports (backdrop-filter: blur(10px)) {
		background: fade(darken(@color-primary, 25%), 50%);
		backdrop-filter: blur(10px);
	}

	.popup {
		.center();

		color: #fafafa;
		line-height: 150%;
		text-align: center;
	}
}
