:global {
	.fadeTransition-enter {
		animation: fadeIn 500ms ease forwards 1;
	}

	.fadeTransition-leave {
		animation: fadeOut 300ms ease forwards 1;
	}
}

@keyframes ~":global(fadeIn)" {
	0% { opacity: 0; }
}

@keyframes ~":global(fadeOut)" {
	100% { opacity: 0; }
}
