.btn {
	cursor: pointer;
	outline: 0;
	padding: 20px;
	background: @button-background;
	border: none;
	border-radius: 10px;
	color: #fff;
	font-size: 25px;
	line-height: 0px;
	text-align: center;
	transition: all 300ms ease;

	// no :hover state as it "sticks" on mobile
	&:focus {
		background: lighten(@button-background, 5%);
	}

	&:active {
		background: lighten(@button-background, 10%);
	}
}

.btn-secondary {
	.btn();

	@bg: #000;

	background: fade(@bg, 50%);

	&:hover,
	&:focus {
		background: fade(lighten(@bg, 20%), 60%);
	}

	&:active {
		background: fade(lighten(@bg, 20%), 80%);
	}
}

.btn-icon {
	.btn;

	width: 34px;
	height: 34px;
	padding: 0;
}
