@font-face {
	font-family: 'corbertregular';
	font-display: auto;
	src: url('../assets/fonts/Corbert-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src: url('../assets/fonts/icomoon.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-sync:before {
	content: "\e600";
}

.icon-arrow-down:before {
	content: "\e606";
}

.icon-check:before {
	content: "\e601";
}

.icon-my-location:before {
	content: "\e602";
}

.icon-location-searching:before {
	content: "\e603";
}

.icon-location-disabled:before {
	content: "\e604";
}

.icon-menu:before {
	content: "\e605";
}
