@import "variables";
@import "reset";
@import "animations";
:global {
	@import (less) "../../node_modules/snapjs/snap.css";
	@import "buttons";
	@import "fonts";
}
@import "select";

:global {
	/* Styles
	------------------------------------------ */
	body {
		background: @body-background;
		font-family: @font-family;
	}

	p {
		margin: 1em 0;
	}

	ul {
		text-align: left;

		.bullet {
			display: inline-block;
			min-width: 60px;
			text-align: right;
		}
	}

	kbd {
		display: inline-block;
		box-sizing: border-box;
		min-width: 25px;
		padding: 0 7px;
		margin: 5px 10px;
		background: fade(#000, 50%);
		border: 1px solid fade(#fafafa, 50%);
		border-radius: 5px;
		font-size: 12px;
	}

	.page {
		width: 100vw;
		height: 100vh;
		background: @page-background;
		box-shadow: 5px 0 5px fade(#000, 30%);
	}

	.content {
		display: flex;
		height: calc(100vh - @header-height);
		flex-direction: column;
		align-content: stretch;
		align-items: stretch;
		overflow: hidden;
	}

	@media screen and (orientation:landscape) {
		.page .content {
			flex-direction: row;

			.values {
				.value {
					.amount {
						font-size: @amount-font-size * 2;
					}
					:global {
						.select {
							.select(4vh, 16vh, 9vh);
						}
					}
				}
			}
		}
	}
}
