.center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centerVertically() {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.scrollable() {
	overflow: hidden;
	overflow-y: auto;
	transition-property: top, bottom;
	transition-duration: .2s, .2s;
	transition-timing-function: linear, linear;
	-webkit-overflow-scrolling: touch;
}
