.select(@font-size: 2.8vh, @width: 11.5vh, @height: 6vh, @padding: 1vh, @border-radius: 5vh) {
	position: relative;
	margin: 0 10px;
	width: @width;
	overflow: hidden;
	transform: translateY(8px);

	select {
		padding: @padding;
		width: 100%;
		height: @height;
		color: fade(@select-color, 80%);
		background: transparent;
		border: none;
		border-radius: 0;
		font-size: @font-size;
		line-height: 1;
		vertical-align: bottom;
		outline: 0;
		appearance: none;
		transition: all 300ms;

		&:focus {
			color: fade(@select-color, 90%);
		}

		&:active {
			color: @select-color;
		}
	}

	&:after {
		position: absolute;
		top: 0;
		right: @padding;
		content: "\e606";
		color: fade(@select-color, 80%);
		font-family: "icomoon";
		font-size: @font-size * 1.2;
		line-height: @height;
	}
}
