@color-primary: #161;
@color-primary-alt: FireBrick;
@color-secondary: #2d882d;
@color-tertiary: #8c8;
@color-quaternary: #003000;

// should match settings/drawer (drag in)
@body-background: #414340;

@page-background: @color-quaternary;

@header-background: #4D841E;
@header-height: 50px;

@button-background: @color-primary;
@button-border-color: @color-tertiary;
@button-border-color-active: #fff;

@value1-background: #4D841E;

@select-color: #fafafa;

@margin-horizontal: 10px;

@drawer-width: 256px;
@amount-font-size: 6vh;

@font-color: #fafafa;
@font-family: corbertregular;
@font-size: 16px;
