@import "../../styles/variables";
@import "../../styles/mixins";

.currencies {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;

	.queryInput {
		padding: 20px;
		width: 100%;
		border: none;
		border-radius: 0;
		background: none;
		color: @font-color;
		font-family: @font-family;
		font-size: @font-size;
		outline: 0;
		appearance: none;
	}

	.list {
		.scrollable();
	}

	.hint {
		font-style: italic;
	}

	.noResults {
		font-style: italic;
	}
}
