.list {
	li {
		display: flex;
		align-items: baseline;
		width: 100%;
		padding: 10px 20px;
		border-top: 1px solid rgba(255,255,255,0.1);
		cursor: pointer;
		text-align: left;
		user-select: none;

		&:first-child > * {
			border: none;
		}

		&.selected {
			background: fade(white, 10);
		}

		&:hover {
			background: fade(white, 10);
		}

		&:active {
			background: fade(white, 20);
		}

		.code {
			width: 30px;
			color: rgba(255, 255, 255, .5);
			font-family: Andale Mono, Courier;
			font-size: 12px;
			line-height: 20px;
		}

		.name {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			flex: 1;
		}
	}
}
