@import "../../styles/variables";
@import "../../styles/buttons";

.install {
	width: 70vw;
	max-width: 300px;
}

.btn-add {
	.btn();

	margin: 15px 10px;
	font-size: 16px;
}

.btn-cancel {
	.btn-secondary();

	margin: 15px 10px;
	font-size: 16px;
}
