@import "../../styles/variables";
@import "../../styles/buttons";

.header {
	height: @header-height;
	background: @header-background;
	overflow: hidden;
	text-align: center;
	vertical-align: center;

	.title {
		display: none;
		margin: 14px 0;
		color: #fff;
		font-size: 14pt;
		text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	}

	.btn-location,
	.btn-settings {
		.btn-icon;

		position: absolute;
		top: 7px;
		left: @margin-horizontal;
		background: none;
		border: none;
		border-radius: 0;

		&:hover,
		&:active {
			background: none;
		}
	}

	.btn-location {
		font-size: 17px;
	}

	.btn-settings {
		left: auto;
		right: @margin-horizontal;
		background: none;
	}
}
