<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Kuranz</title>
	<meta name="description" content="Location aware currency converter. Will use GPS to detect the country you're in and the currency. Works offline when you are traveling without internet.">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="Content-Security-Policy" content="<%= require('../config/csp') %>">
	<meta name="og:image" content="<%= require('./assets/images/icon-ios-1024.png') %>">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="apple-touch-icon" href="<%= require('./assets/images/icon-ios-152.png') %>">
	<link rel="image_src" href="<%= require('./assets/images/icon-158.png') %>">
	<link rel="preload" href="<%= require('./assets/fonts/Corbert-Regular.woff2') %>" as="font" type="font/woff2" crossorigin="anonymous">
	<script src="https://www.google-analytics.com/analytics.js" async></script>
</head>

<body>
	<noscript>
		<p>This page requires JavaScript to function.</p>
	</noscript>
</body>

</html>