<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Kuranz - Location based currency converter</title>
	<meta name="description" content="Location aware currency converter. Will use GPS to detect the country you're in and the appropriate currency. Works offline when you are traveling without internet.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Security-Policy" content="<%= require('../config/csp') %>">
	<meta name="og:image" content="<%= require('./assets/images/icon-ios-1024.png') %>">
	<link rel="prefetch" href="/app/">
</head>

<body>
	<section class="splash contrast">
		<div class="content">
			<div class="text">
				<h1>Kuranz</h1>
				<p>Location based currency converter</p>
				<a class="btn" id="btn-start" href="/app/">Try it now</a>
			</div>
			<div class="device">
				<img class="platform-ios" alt="Screenshot of Kuranz app" src="<%= require('./assets/images/device-ios.png') %>" srcset="<%= require('./assets/images/device-ios@2.png') %> 2x, <%= require('./assets/images/device-ios@3.png') %> 3x" width="300" height="518">
				<img class="platform-android" alt="Screenshot of Kuranz app" src="
				<%= require('./assets/images/device-android.png') %>" srcset="<%= require('./assets/images/device-android@2.png') %> 2x, <%= require('./assets/images/device-android@2.png') %> 3x" width="300" height="519">
			</div>
		</div>
	</section>
	<section class="install" id="install">
		<div class="content">
			<h1 class="platform-ios">Install on iOS</h1>
			<h1 class="platform-android">Install on Android</h1>
			<div class="switcher">
				<button class="btn" id="btn-ios">iOS</button>
				<button class="btn" id="btn-android">Android</button>
			</div>
			<div class="guides">
				<div class="guide platform-ios">
					<div class="pull-right">
						<div class="video">
							<video id="video-ios" width="320" preload="auto" poster="<%= require('./assets/video/homescreen-ios.png') %>" autoplay loop>
								<source src="<%= require('./assets/video/homescreen-ios.mp4') %>" type="video/mp4" />
							</video>
						</div>
					</div>
					<ol>
						<li><span>Go to <a href="https://kuranz.com/app">kuranz.com/app</a> in Safari</span></li>
						<li><span>Open the menu and choose "Add to Home Screen"</span></li>
						<li><span>Click "Add" in the prompt</span></li>
						<li><span>You should now see the Kuranz app on your Home Screen</span></li>
					</ol>
				</div>
				<div class="guide platform-android">
					<div class="pull-right">
						<div class="video">
							<video id="video-android" width="320" preload="auto" poster="<%= require('./assets/video/homescreen-android.png') %>" autoplay muted loop>
								<source src="<%= require('./assets/video/homescreen-android.mp4') %>" type="video/mp4" />
							</video>
						</div>
					</div>
					<ol>
						<li><span>Go to <a href="https://kuranz.com/app">kuranz.com/app</a> in Chrome</span></li>
						<li><span>Open the menu and choose "Add to Home screen"</span></li>
						<li><span>Click "Add" in the prompt</span></li>
						<li><span>You should now see the Kuranz app on your Home screen</span></li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<section class="features contrast">
		<div class="content">
			<h1>Features</h1>
			<ul>
				<li><span>Works offline no matter where you are in the world.</span></li>
				<li><span>Automatically determines the correct currency to convert from using your GPS location.</span></li>
				<li><span>Runs on every mobile device using modern HTML5 standards.</span></li>
				<li><span>Up to date rates for every currency in the world.</span></li>
			</ul>
		</div>
	</section>
	<footer class="footer contrast">
		<div class="content">
			<p>Made by&nbsp;<a href="https://ole.michelsen.dk/">Ole Bjørn Michelsen</a></p>
		</div>
	</footer>
</body>

</html>
