@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/buttons";
@import "../../styles/select";

.values {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	width: 100%;
	overflow: hidden;

	.value {
		position: relative;
		display: flex;
		flex: 1 1 auto;
		align-items: center;
		width: 100%;
		color: #fafafa;

		&.value1 {
			background: @value1-background;
			color: #fafafa;

			&::after {
				@arrow-height: 10px;

				content: " ";
				position: absolute;
				bottom: 0 - @arrow-height;
				left: 50%;
				width: 0;
				height: 0;
				margin-left: -50vw;
				border-left: 50vw solid transparent;
				border-right: 50vw solid transparent;
				border-top: @arrow-height solid @value1-background;
			}
		}

		.amount {
			flex: 1;
			max-width: 100%;
			font-size: @amount-font-size;
			overflow: hidden;
			text-align: right;
			text-overflow: ellipsis;
		}
	}

	.btn-swap {
		.btn-icon;

		position: absolute;
		top: -17px;
		left: @margin-horizontal;
		padding: 0 0 2px 0;
		font-size: 20px;
		background: @value1-background;
		border-radius: 100%;

		&:focus {
			background: lighten(@value1-background, 5%);
		}

		&:active {
			background: lighten(@value1-background, 10%);
		}
	}
}

.btnCurrency {
	position: relative;
	margin-top: 5px;
	margin-right: @margin-horizontal;
	padding: 5px 20px 5px 10px;
	background: none;
	border: none;
	color: fade(@select-color, 80%);
	font-size: 12pt;
	user-select: none;

	&:after {
		.centerVertically();
		right: 0;
		content: "\e606";
		color: fade(@select-color, 80%);
		font-family: "icomoon";
		font-size: 12pt;
	}
}
