.btn {
	display: inline-block;
	padding: .7em .9em;
	background: transparent;
	border: 2px solid #ccc;
	border-radius: .8em;
	color: #777;
	font-size: .8em;
	outline: 0;
	transition: all .3s;

	&:hover,
	&:active,
	&.active {
		background: #3CA55C;
		border-color: #3CA55C;
		color: #fafafa;
		cursor: pointer;
	}
	&:focus {
		box-shadow: 0 5px 0 #333;
	}
}