.features {
	background:
		linear-gradient(to bottom, #8c8, rgba(40,137,38,.6), #288926),
		url(../../../assets/images/worldmap.svg),
		linear-gradient(to left, @color-theme-primary, #288926);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;

		li {
			float: left;
			padding: 20px;
			width: 50%;
		}
	}

	@media (max-width: @page-width) {
		ul li {
			float: none;
			width: auto;
			height: auto;
		}
	}
}
