.install {
	.switcher {
		margin-bottom: 2em;
		text-align: center;

		.btn:not(:first-child) {
			margin-left: .5em;
		}
	}

	.guides {
		white-space: nowrap;

		.guide {
			white-space: normal;
			width: 100%;
			background: #fff;

			.video {
				display: inline-block;
				padding: .8em;
				max-width: 100%;
				border: 3px solid #eee;
				border-radius: 1em;

				video {
					border-radius: 5px;
					max-width: 100%;
				}
			}
		}
	}
}