.splash {
	width: 100vw;
	height: 95vh;
	background: linear-gradient(to left, @color-theme-primary, #288926);

	.content {
		display: flex;
		align-items: center;
		width: 750px;
		height: 100%;
	}

	.text {
		flex: 1;
	}

	h1 {
		margin: 0;
		padding-bottom: 0;
		color: #fff;
		font-size: 3em;
		text-align: left;
		&:after {
			left: 0;
		}
	}

	p {
		margin: .5em 0 1em 0;
		font-size: 1.5em;
		line-height: 1.2em;
	}

	@media (max-width: @page-width) {
		height: 100vh;

		.content {
			display: block;
		}

		.device {
			margin-left: -30px;
		}
	}
}
