@import "../../styles/variables";
@import "../../styles/buttons";
@import "../../styles/mixins";

.settings {
	.scrollable();

	background: @body-background;
	color: #fafafa;

	footer {
		padding-top: 1em;
		color: rgba(255, 255, 255, .5);
		font-size: 9pt;
		line-height: 130%;
		text-align: center;
	}

	section {
		overflow: hidden;
		padding: 1em;
	}

	.settingsBtn {
		.btn();
		margin: 5px 0;
		width: 100%;
		font-size: 16px;
	}

	.header {
		margin-bottom: 10px;
		color: #999;
		font-size: 20px;
	}

	.currencies {
		li {
			cursor: pointer;
			display: flex;
			width: 100%;
			padding: 10px 0;
			border-top: 1px solid rgba(255,255,255,0.1);

			.check {
				width: 20px;
				height: 16px;
			}

			.name {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				flex: 1;
			}

			&:first-child > * {
				border: none;
			}
		}
	}
}
